[Unit]
Description=postgres
After=docker.service

[Service]
TimeoutStartSec=10m
Restart=on-failure
RestartSec=10
StartLimitInterval=720s
StartLimitBurst=4
SyslogIdentifier=postgres
SyslogFacility=local5
Environment=CONTAINER=postgres
Environment=IMAGE=docker.io/library/postgres
Environment=IMAGE_TAG=13-alpine
PassEnvironment=POSTGRES_DB
PassEnvironment=POSTGRES_PASSWORD
PassEnvironment=POSTGRES_USER
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${IMAGE_TAG}
ExecStartPre=-/usr/bin/docker stop -t 2 ${CONTAINER}
ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStart=/usr/bin/docker run --rm \
    -v "{{postgres_dbpath}}:/var/lib/postgresql/data:Z" \
    -e "POSTGRES_DB" \
    -e "POSTGRES_PASSWORD" \
    -e "POSTGRES_USER" \
    --net "discourse" \
    --name ${CONTAINER} ${IMAGE}:${IMAGE_TAG}
ExecStop=/usr/bin/docker stop -t 2 ${CONTAINER}

[Install]
WantedBy=multi-user.target
