[Unit]
Description=traefik
After=docker.service

[Service]
TimeoutStartSec=10m
Restart=on-failure
RestartSec=10
StartLimitInterval=720s
StartLimitBurst=4
SyslogIdentifier=traefik
SyslogFacility=local5
Environment=CONTAINER=traefik
Environment=IMAGE=docker.io/library/traefik
Environment=IMAGE_TAG={{traefik_version}}
ExecStartPre=-/usr/bin/docker pull ${IMAGE}:${IMAGE_TAG}
ExecStartPre=-/usr/bin/docker stop -t 2 ${CONTAINER}
ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStart=/usr/bin/docker run --rm \
    -p 80:80 \
    -p 443:443 \
    -v "/var/traefik/traefik.toml:/etc/traefik/traefik.toml:ro" \
    -v "/var/traefik/acme:/etc/traefik/acme:rw" \
    -v "/var/run/docker.sock:/var/run/docker.sock:rw" \
    -m 100m \
    --network=discourse \
    --name ${CONTAINER} ${IMAGE}:${IMAGE_TAG}
ExecStop=/usr/bin/docker stop -t 2 ${CONTAINER}

[Install]
WantedBy=multi-user.target
